<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.dzh.spider.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.megvii.dzh.spider.domain.po.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="post_url" jdbcType="VARCHAR" property="postUrl" />
    <result column="user_device" jdbcType="VARCHAR" property="userDevice" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.megvii.dzh.spider.domain.po.Comment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, title, time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
</mapper>