<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.dzh.spider.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.megvii.dzh.spider.domain.po.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="follow_count" jdbcType="INTEGER" property="followCount" />
    <result column="fans_count" jdbcType="INTEGER" property="fansCount" />
    <result column="user_head_url" jdbcType="VARCHAR" property="userHeadUrl" />
    <result column="user_home_url" jdbcType="VARCHAR" property="userHomeUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, gender, tb_age, post_count, follow_count, fans_count, user_head_url, 
    user_home_url
  </sql>

  <select id="getUserFansBar" resultType="com.megvii.dzh.spider.domain.vo.NameValue">
    SELECT a.user_name as name,a.fans_count as value from (SELECT id,user_name,fans_count  FROM `user`
    <where>
      <if test="gender!=-1">
        gender=#{gender}
      </if>
    </where>
    ORDER BY fans_count DESC LIMIT #{limit}) a GROUP BY a.user_name ORDER BY a.fans_count DESC
  </select>
  
  <select id="getUserViewTotal" resultType="com.megvii.dzh.spider.domain.vo.NameValue">
    SELECT a.user_name as name,a.view_total as value from (SELECT id,user_name,view_total  FROM `user`
    <where>
      <if test="gender!=-1">
        gender=#{gender}
      </if>
    </where>
    ORDER BY view_total DESC LIMIT #{limit}) a GROUP BY a.user_name ORDER BY a.view_total DESC
  </select>
  
</mapper>