<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.dzh.spider.mapper.UserTbsMapper">
  <resultMap id="BaseResultMap" type="com.megvii.dzh.spider.domain.po.UserTbs">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="tb_name" jdbcType="VARCHAR" property="tbName" />
    <result column="tb_level" jdbcType="INTEGER" property="tbLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, tb_name, tb_level
  </sql>
</mapper>