<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.megvii.dzh.spider.mapper.WordDivideMapper">
  <resultMap id="BaseResultMap" type="com.megvii.dzh.spider.domain.po.WordDivide">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, word,type
  </sql>

</mapper>